@import "./root.scss";
h3 {
    text-align: center;
    margin: 70px;
    background-color: $secondary;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid $backgroundColor;
    border-right: 5px solid $backgroundColor;
    border-radius: 20px 0px 20px 0px;
}

.container {
    background: rgb(33, 59, 77);
    background: linear-gradient(30deg, rgba(33, 59, 77, 1) 0%, rgba(38, 90, 99, 1) 52%, rgba(33, 59, 77, 1) 100%);
    color: $textColor;
}