@import "./root.scss";
h3 {
    text-align: center;
    margin: 70px;
    background-color: $secondary;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid $backgroundColor;
    border-right: 5px solid $backgroundColor;
    border-radius: 20px 0px 20px 0px;
}

ul {
    margin: 0;
    padding: 0;
}