.contact {
    width: 100%;
    position: relative;
}

.contact__container {
    width: 25%;
    margin-left: 12.5%;
    padding: 15px;
    &::after {
        content: "";
        background-color: $backgroundColor;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 10px;
        border-radius: 0px 0px 40px 0px;
    }
}

.contact__container__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.contact__container__list__item {
    display: block;
    list-style-type: none;
}