.contact {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact__container {
    // width: 25%;
    // padding: 15px;
    // grid-column: 0 1;
    // grid-row: 0 1;
    // &::after {
    //     content: "";
    //     background-color: $backgroundColor;
    //     width: 345px;
    //     height: 98px;
    //     position: absolute;
    //     top: 0;
    //     right: 10px;
    //     border-radius: 0px 0px 40px 0px;
    // }
}

.contact__container__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
}

.contact__container__list__item {
    display: block;
    list-style-type: none;
    margin: 20px;
}