.contact-container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    // min-height: 100vh;
}

.contactPage__Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 4em 1em 4em 1em;
    width: 100%;
}

.contactPageTitle {
    text-transform: uppercase;
}

.contactPageSubTitle {
    text-transform: capitalize;
    color: $link;
    margin-bottom: 3em;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
}

.contactPage__wrapper__social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 !important;
    list-style-type: none;
    padding: 0;
}

.contactPage__wrapper__social__item {
    margin: 0 0.3em;
}

.contactPage__items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p,
    a {
        margin: 0.5em 0 0 0;
    }
    a {
        color: #D9D9D9;
    }
}


/* Responsive */

@media(max-width:500px) {
    .contactPage__Wrapper {
        min-height: 100vh;
        margin: 0;
    }
}

@media(max-width: 462px) {
    .contactPageTitle {
        margin-top: 80px;
    }
}