.home-mainProject {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-mainProject__item {
    width: 50%;
}

.home-h2 {
    margin: 2em 2em 2.5em 2em;
    font-family: 'Genos', sans-serif;
    font-size: 1.7em;
    font-style: italic;
}

.home-h2-stack {
    margin: 0 0.3em -0.4em 0.3em;
    padding: 0.3em;
    border-radius: 50% 30%;
    background-color: #4A5B66;
}

.home-project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    margin: 1em 0;
    padding: 1em 1.5em;
    border-radius: 15px;
    background-color: #265A63;
    color: white;
    text-decoration: none;
}