.stack {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.stack__icon {
    margin: 10px;
    padding: 10px;
    border-left: 5px solid $backgroundColor;
    border-right: 5px solid $backgroundColor;
    border-radius: 20px 0px 20px 0px;
    background-color: $third;
    &:hover {
        padding: 20px;
        transform: rotate(360deg);
        transition: box-shadow 0.3s, padding 0.3s, transform 0.3s ease-in-out;
    }
}