.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(33, 59, 77);
    background: linear-gradient(30deg, rgba(33, 59, 77, 1) 0%, rgba(38, 90, 99, 1) 52%, rgba(33, 59, 77, 1) 100%);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // max-width: 1600px;
    min-height: calc(100vh - 51px);
    color: $textColor;
    max-width: 1300px;
}