.project__stack__card__item {
    display: flex;
    flex-direction: column;
    background-color: #4A5B66;
    padding: 1em 1em 60px 1em;
    margin: 1em;
    border-radius: 15px;
    position: relative;
    height: 100%;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
}

.project__stack__card__header {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project__stack__card__name {
    text-align: center;
    width: 100%;
}

.project__stack__card__technologie {
    text-align: right;
    width: 100%;
    position: absolute;
    right: 0;
    top: -36px;
    right: -16px;
    margin: 0;
}

.item__preview {
    width: 100%;
}

.project__stack__card__description {
    text-align: justify;
}

.project__stack__card__a {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    bottom: 1em;
}

.project__stack__card__a__link,
.project__stack__card__a__github {
    padding: 1em 1.5em;
    border-radius: 15px;
    background-color: #265A63;
    color: white;
}